{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block page_title %} {{ quiz.title }} XX{% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}


{% if question %}

{% if progress %}
<div style="float: right;">
{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
</div>
{% endif %}

<p>
  <small class="muted">{% trans "Question category" %}:</small>
  <strong>{{ question.category }}</strong>
</p>

<p class="lead">{{ question.content }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form action="{%  url 'exam_question' quiz.url  %}" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <input type="submit" name="next_question" value={% trans "Next" %} class="btn btn-large btn-block btn-warning" >
  <input type="submit" name="previous_question" value={% trans "Previous" %} class="btn btn-large btn-block btn-warning" >
</form>

{% endif %}

<hr>


{% endblock %}
